@import url('https://fonts.googleapis.com/css?family=Orbitron');


/*General styles */
body
	background-color: #faf0e6
	height: 100%
	text-align: center
	font-family: 'Orbitron', sans-serif;


/*Game App Styles*/
#game-body 
	background: #333

#game-screen 
	background-color: #32050c
	padding: 10px
	border-radius: 10px

	span 
		line-height: 2.5em
		font-size: 3em
		color: #d00

.row 
	padding: 10px

.btn-block
	display: block
	width: 100% 
	padding: 50px !important

.strict-indicator
	position: absolute
	color: #FC0102
	top: 5px
	right: 25px

.fa-play-circle-o:before
	font-size: 4em 

#start-btn 
	padding: 30px !important


/*Button colors */
#btn-g
	background: #00a74a
#btn-r
	background: #9f0f17
#btn-y
	background: #cca707
#btn-b 
	background: #094a8f


